.App {
}
.landing_nav{
  background-color: #adcce3;
}
.navbar_links_left a{
  margin-left: 17px;
  text-decoration: none;
  color: #0a0e45;
  font-weight: bolder;
}

.main_login_link {
  padding: 7px;
  color: #0a0e45;
  font-weight: bold;
}

.main_register_link{
  margin-left: 17px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bolder;
  padding: 7px;
  background-color: #0a0e45;
  border-radius: 20px;
}

.hero{
  background-color: #0a0e45;
  padding: 50px;
  height: auto;
  margin-top: 20px;
  /*background-image: url('./img/palmtree.png');*/
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
}
.swap_form{
  width: 50%;
  position: relative;
  margin-left: 25%;
}
.swap_form_input{
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 15px;
  padding: 6px;
  font-weight: bold;
  color: #0a0e45;
  border: solid 2px #0a0e45;
}

.swap_button{
  height: 40px;
  color: #ffffff;
  background-color: #0a0e45;
  border-radius: 15px;
  position: relative;
  width: 100%;
}
.live_feed_home{
  color: #e2dde0;
  background-color: #1d6ca9;
  position: relative;
  width: 100%;
  padding: 40px;
}
.live_freely_home{
  color: #ffffff;
  border-radius: 15px;
  background-color: #0a0e45;
  padding: 25px;
  position: relative;
  margin-top: -40px;
  background-image: url('./img/blue.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9;
}
.video_area_home{
  width: 100%;
  height: auto;
  background-color: #110b44;
  margin-top: -110px;
  position: relative;
  padding-top: 150px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color:#ffffff;
}
.btn_send_home{
  width: 100%;
  height: 50px;
  border-radius: 10px;
  color: #e2dde0;
  background-color: #a34610;
  margin-top: 25px;
}
.btn_swap_home{
  width: 100%;
  height: 50px;
  border-radius: 10px;
  color: #a34610;
  background-color: #110b44;
  margin-top: 25px;
}
.footer{
  background-color: #093b61;
  min-height: 250px;
  color: #c1bfc1;
  padding: 17px;
}
.footer_links{

}
.login_box{
  padding:20px;
  margin:20px;
}