.App {
  font-family: "Montserrat";
}
.landing_nav{
  background-color: #adcce3;
}
.navbar_links_left a{
  margin-left: 17px;
  text-decoration: none;
  color: #042040;
  font-weight: bolder;
}

.main_login_link {
  padding: 7px;
  color: #042040;
  font-weight: bold;
}

.main_register_link{
  margin-left: 17px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bolder;
  padding: 10px;
  background-color: #042040;
  border-radius: 15px;
}

.hero{
  background-color: #042040;
  padding: 20px;
  height: auto;
  margin-top: 60px;
  background-image: url("./img/benex home banner2-04.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}
.swap_form{
  width: 90%;
  height: auto;
  position: absolute;
  margin-left: 5%;
  border-radius: 25px;
}
.swap_form_input{
  position: relative;
  width: 100%;
  margin-bottom: 25px;
  border-radius: 10px;
  font-size: 15px;
  padding: 6px;
  font-weight: bold;
  color: #042040;
  border: solid 2px #042040;
}

.swap_button{
  height: 40px;
  color: #ffffff;
  background-color: #042040;
  border-radius: 15px;
  position: relative;
  width: 100%;
}
.live_feed_home{
  color: #e2dde0;
  background-color: rgb(4, 32, 64);
  position: relative;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 80px;
  line-height: 5px;
}
.live_freely_home{
  color: #ffffff;
  border-radius: 15px;
  background-color: #042040;
  padding: 25px;
  position: relative;
  margin-top: -40px;
  background-image: url('./img/pat6-04.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9;
  font-weight: 600;
}
.video_area_home{
  width: 100%;
  height: auto;
  background-color: #042040;
  margin-top: -130px;
  position: relative;
  padding-top: 170px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color:#ffffff;
  font-weight: 600;
}
.video_area_home h5{
  text-align: justify;
  line-height: 40px;
  padding: 30px;
}
.btn_send_home{
  width: 100%;
  height: 40px;
  border-radius: 15px;
  color: #e2dde0;
  background-color: #042040;
  margin-top: 25px;
  background-image: url('./img/pat6-04.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}
.btn_swap_home{
  width: 100%;
  height: 40px;
  border-radius: 15px;
  color: #e2dde0;
  background-color: #a34610;
  margin-top: 25px;
  background-image: url('./img/pat5-02.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  font-size: 15px;
  border: none;
}
.footer{
  background-color: #042040;
  min-height: 250px;
  color: #c1bfc1;
  padding: 17px;
}
.footer_links{

}
.login_box{
  padding:20px;
  margin:20px;
}
.front_man{
  position: relative;
  z-index: 9;
  margin-left: -10px;
}
.mtn{
  margin-top: -500px;
  position: relative;
}
.airtel{
  margin-top: -700px;
  position: relative;
}
.spend{
  margin-top: -500px;
  margin-right: -100px;
  position: relative;
}